<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bilabonnement – Data-Registrering Main page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>


<body class="datareg-page-page">

<header th:replace="~{/fragments/header :: header}"></header>

<main class="datareg-main__layout">

<!-- the whole left part of the screen underneath the topbar (rn uses the right side functionality) -->
<section class="datareg-main__pane-right">

    <!-- container for holding scrollable list -->
    <article class="datareg-car-list-container">

        <!-- separate header for the right part of the screen underneath the topbar -->
        <header class="datareg-cars__header">

            <!-- title in the header -->
            <h1 class="datareg-cars-header__title">Returnerede Biler</h1>

            <!-- update button in the header -->
            <form th:action="@{/workshop}" method="get">
                <button type="submit" class="ba-btn--highlight">Opdater</button>
            </form>
        </header>

        <!-- for showing the scrollable list of cars -->
        <section class="datareg-car-list">

            <!-- if list of cars is empty -->
            <p class="datareg-car-list__empty" th:if="${#lists.isEmpty(returnedCars)}">
                Der er ingen biler klar til at få lavet tilstandsrapport
            </p>

            <!-- card for showing a car. And the iteration of the car list -->
            <article class="datareg-car-card"
                     th:each="car : ${returnedCars}">

                <!-- the cards info about the car -->
                <div class="datareg-car-card__info">

                    <!-- First line: brand and model -->
                    <div class="datareg-car-card__title"
                         th:text="${car.brand + ' ' + car.model}">
                        Brand: % Model: %
                    </div>

                    <!-- Second line: Stålpris and Vogn nr -->
                    <div class="datareg-car-card__meta">
                        <span th:text="'Vogn nr.: ' + ${car.vehicleNo}">Vogn nr.: %</span>
                    </div>
                </div>

                <!-- button for Se -->
                <div class="datareg-car-card__actions">

                    <!-- button for Opretning at tilstandsrapport -->
                    <a class="car-action-btn car-action-btn--primary"
                       th:href="@{/condition_report/create(carId=${car.id})}">
                        Opret Tilstands Rapport
                    </a>
                </div>
            </article>

        </section>
    </article>
</section>

<!-- the whole right part of the screen underneath the topbar -->
<section class="datareg-main__pane-right">

    <!-- container for holding scrollable list -->
    <article class="datareg-car-list-container">

        <!-- separate header for the right part of the screen underneath the topbar -->
        <header class="datareg-cars__header">

            <!-- title in the header -->
            <h1 class="datareg-cars-header__title">Opkomende Biler</h1>

            <!-- update button in the header -->
            <form th:action="@{/workshop.html}" method="get">
                <button type="submit" class="ba-btn--highlight">Opdater</button>
            </form>
        </header>

        <!-- for showing the scrollable list of cars -->
        <section class="datareg-car-list">

            <!-- if list of cars is empty -->
            <p class="datareg-car-list__empty" th:if="${#lists.isEmpty(upcomingCars)}">
                Der er ingen biler klar til at få lavet tilstandsrapport
            </p>

            <!-- card for showing a car. And the iteration of the car list -->
            <article class="datareg-car-card"
                     th:each="car : ${upcomingCars}">

                <!-- the cards info about the car -->
                <div class="datareg-car-card__info">

                    <!-- First line: brand and model -->
                    <div class="datareg-car-card__title"
                         th:text="${car.brand + ' ' + car.model}">
                        Brand: % Model: %
                    </div>

                    <!-- Second line: Stålpris and Vogn nr -->
                    <div class="datareg-car-card__meta">
                        <span th:text="'Vogn nr.: ' + ${car.vehicleNo}">Vogn nr.: %</span>
                    </div>
                </div>

                <!-- Forventet Dato Område -->
                <div class="datareg-car-card__actions">

                    <!-- getModel er en midertidlig replacement -->
                    <a class="car-action-btn car-action-btn--primary"
                       th:text="'Forventet Retur:+ ' + ${car.getModel()}">
                    </a>

                </div>
            </article>

        </section>
    </article>
</section>
</main>
</body>
</html>
