<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Ny leasekontrakt – Trin 2: Kundeoplysninger</title>
    <link rel="stylesheet" th:href="@{/css/style_adjusted.css}">

    <link rel="stylesheet" th:href="@{/css/lease.css}">

</head>
<body class="datareg-page">

<header th:replace="~{/fragments/header :: header}"></header>

<main class="lease-main">

    <section class="lease-card">


        <header class="lease-card__header">
            <h2 class="lease-card__title">Ny lejeaftale</h2>

            <div th:replace="~{/fragments/lease-steps :: lease-steps}"></div>
        </header>


        <section class="lease-car-inline">
            <div class="lease-car-inline__info">
                <div class="lease-car-inline__meta"
                     th:text="${leaseFlow.carBrand + ' ' + leaseFlow.carModel + ' (' + leaseFlow.vehicleNo + ', ' + leaseFlow.vin + ')'}">
                    Brand Model
                </div>
            </div>
        </section>


        <div class="lease-card__intro"
             th:if="${leaseFlow.globalErrorMessage == null}"
             th:text="'Udfyld kundens oplysninger. Felterne er forudfyldt, hvis du valgte en eksisterende kunde.'">
            error

        </div>


        <section class="lease-card__body">


            <div class="lease-form__error"
                 th:if="${leaseFlow.globalErrorMessage != null}"
                 th:text="${leaseFlow.globalErrorMessage}">
                Fejlbesked
            </div>


            <form th:action="@{/lease/create/step2}" method="post" class="lease-form">

                <div class="lease-grid">


                    <div class="lease-form__group col-2">
                        <label class="lease-form__label" for="nameFirst">Fornavn</label>
                        <input id="nameFirst" name="nameFirst" type="text"
                               th:value="${leaseFlow.nameFirst}">
                    </div>

                    <div class="lease-form__group col-2">
                        <label class="lease-form__label" for="nameLast">Efternavn</label>
                        <input id="nameLast" name="nameLast" type="text"
                               th:value="${leaseFlow.nameLast}">
                    </div>


                    <div class="lease-form__group">
                        <label class="lease-form__label" for="street">Gadenavn</label>
                        <input id="street" name="street" type="text"
                               th:value="${leaseFlow.street}">
                    </div>

                    <div class="lease-form__group">
                        <label class="lease-form__label" for="houseNumber">Husnummer</label>
                        <input id="houseNumber" name="houseNumber" type="text"
                               th:value="${leaseFlow.houseNumber}">
                    </div>

                    <div class="lease-form__group">
                        <label class="lease-form__label" for="floor">Etage</label>
                        <input id="floor" name="floor" type="text"
                               th:value="${leaseFlow.floor}">
                    </div>

                    <div class="lease-form__group">
                        <label class="lease-form__label" for="door">Dør</label>
                        <input id="door" name="door" type="text"
                               th:value="${leaseFlow.door}">
                    </div>


                    <div class="lease-form__group col-2">
                        <label class="lease-form__label" for="zip">Postnummer</label>
                        <input id="zip" name="zip" type="text"
                               th:value="${leaseFlow.zip}">
                    </div>

                    <div class="lease-form__group col-2">
                        <label class="lease-form__label" for="city">By</label>
                        <input id="city" name="city" type="text"
                               th:value="${leaseFlow.city}">
                    </div>


                    <div class="lease-form__group col-2">
                        <label class="lease-form__label" for="phone">Telefon</label>
                        <input id="phone" name="phone" type="text"
                               th:value="${leaseFlow.phone}">
                    </div>

                    <div class="lease-form__group col-2">
                        <label class="lease-form__label" for="email">Email</label>
                        <input id="email" name="email" type="email"
                               th:value="${leaseFlow.email}">
                    </div>

                </div>



                <div class="lease-form__actions">
                    <button class="ba-btn btn--dim"
                            type="submit"
                            name="action"
                            value="back">
                        Tilbage
                    </button>

                    <button class="ba-btn btn--dim"
                            type="submit"
                            name="action"
                            value="cancel">
                        Fortryd
                    </button>

                    <button class="ba-btn ba-btn--highlight"
                            type="submit"
                            name="action"
                            value="continue">
                        Fortsæt
                    </button>
                </div>
            </form>

        </section>

    </section>

</main>

</body>
</html>


