<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <title>Ny leasekontrakt – Trin 4: Betaling</title>
  <link rel="stylesheet" th:href="@{/css/style_adjusted.css}">

  <link rel="stylesheet" th:href="@{/css/lease.css}">

</head>
<body class="datareg-page">

<header th:replace="~{/fragments/header :: header}"></header>

<main class="lease-main">

  <section class="lease-card">


    <header class="lease-card__header">
      <h2 class="lease-card__title">Ny lejeaftale</h2>

      <div th:replace="~{/fragments/lease-create-step-indicator :: lease-create-step-insdicator}"></div>
    </header>


    <section class="lease-car-inline">
      <div class="lease-car-inline__info">
        <div class="lease-car-inline__meta">
          <p th:text="${leaseCreateDto.carBrand + ' ' + leaseCreateDto.carModel + ' (' + leaseCreateDto.vehicleNo + ', ' + leaseCreateDto.vin + ')'}">
            Brand Model</p>
          <p th:text="${leaseCreateDto.nameFirst + ' ' + leaseCreateDto.nameLast}">
            Kunde navn
          </p>
          <p th:text="${leaseCreateDto.startDate + ' - ' + leaseCreateDto.months + ' måneder' + ' / ' + leaseCreateDto.subscriptionTypeName}">
            Startdato og antal måneder
          </p>
        </div>
      </div>
    </section>


    <div class="lease-card__intro"
         th:if="${leaseCreateDto.leaseCreateErrorMessage == null}"
         th:text="'Indtast pris, kilometer og eventuel dato for førstegangsydelse.'">
      Indtast pris, kilometer og eventuel dato for førstegangsydelse.
    </div>


    <section class="lease-card__body">


      <div class="lease-form__error"
           th:if="${leaseCreateDto.leaseCreateErrorMessage != null}"
           th:text="${leaseCreateDto.leaseCreateErrorMessage}">
        Fejlbesked
      </div>


      <form th:action="@{/lease/create/step4}" method="post" class="lease-form">

        <div class="lease-grid">


          <div class="lease-form__group col-2">
            <label class="lease-form__label" for="monthlyPrice">
              Pris per måned
            </label>
            <input id="monthlyPrice"
                   name="monthlyPrice"
                   type="number"

                   th:value="${leaseCreateDto.monthlyPrice}">
          </div>

          <div class="lease-form__group col-2">
            <label class="lease-form__label" for="maxKmPerMonth">
              Max km per måned
            </label>
            <input id="maxKmPerMonth"
                   name="maxKmPerMonth"
                   type="number"

                   th:value="${leaseCreateDto.maxKmPerMonth}">
          </div>


          <div class="lease-form__group col-2">
            <label class="lease-form__label" for="firstPaymentDate">
              Dato for førstegangsydelse (hvis betalt)
            </label>
            <input id="firstPaymentDate"
                   name="firstPaymentDate"
                   type="date"
                   th:value="${leaseCreateDto.firstPaymentDate}">
          </div>

          <div class="lease-form__group col-2 lease-form__group--checkbox">
            <label>
              <input type="checkbox"
                     name="creditApproved"
                     th:checked="${leaseCreateDto.creditApproved}">
              Kreditvurdering godkendt
            </label>
          </div>

        </div>


        <div class="lease-form__actions">
          <button class="ba-btn btn--dim"
                  type="submit"
                  name="action"
                  value="back">
            Tilbage
          </button>

          <button class="ba-btn btn--dim"
                  type="submit"
                  name="action"
                  value="cancel">
            Fortryd
          </button>

          <button class="ba-btn ba-btn--highlight"
                  type="submit"
                  name="action"
                  value="continue">
            Fortsæt
          </button>
        </div>

      </form>

    </section>

  </section>

</main>

</body>
</html>
